<section id="info-app" class="mt-lg-5 p-5">
  <div class="container-lg-fluid">

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-7 pt-lg-5 pb-5">
        <h1 class="trebuchetregular mt-5">Descarga nuestra app</h1>
        <hr>
        <br>
        <p class="font-light font-gray mt-5">
          Con nuestra aplicación podrás gestionar tu cuenta de manera fácil, simple y rápido. En momento que
          necesites de:
        </p>
        <ul class="mt-5">
          <li class="font-light font-gray">Atención y/o asesoría técnica</li>
          <li class="font-light font-gray">Consulta y/o pagar tu factura</li>
          <li class="font-light font-gray">Contratar nuestros planes</li>
        </ul>
        <p class="font-light font-gray">
          Esto y mucho más al alcance de tu mano. Disponible
        </p>
        <div class="row center-lg mt-5">
          <div class="col-md-3 col-xs-6 m-lg-3">
            <img src="./assets/images/ios.png" style="max-width: 100%">
          </div>
          <div class="col-md-3 col-xs-6 m-lg-3">
            <a target="_blank"
               href="https://play.google.com/store/apps/details?id=nextline.jaspesoft.com.nextline&hl=es-419">
              <img src="./assets/images/android.png" style="max-width: 100%">
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
