
    <div class="row center-md center-sm p-lg-5">
      <div class="col-md-1 col-xs-2 p-lg-4">
        <a href="https://twitter.com/NextlineVe" target="_blank">
          <img src="./assets/images/tw.png" style="max-width: 100%">
        </a>
      </div>
      <div class="col-md-1 col-xs-2 p-lg-4">
        <a href="https://www.instagram.com/mynextlinenet/" target="_blank">
          <img src="./assets/images/ins.png" style="max-width: 100%">
        </a>
      </div>
    </div>


<!--<p class="h6 text-center">
  © 2020 Todos los derechos reservados.
  <a class="ml-2 font-gray" href="/">
    <strong>nextline.com.ve</strong>
  </a>
</p>-->
<p class="text-center">
  <a class="font-gray" routerLink="/privacy-policies">
    Politicas de privacidad
  </a>
</p>

<div class="row center-lg">
  <div class="col-md-3">
    <p class="text-center pt-2">
      © Copyright 2021 | Desarrollado por:
    </p>
    <div class="row center-sm center-lg">
      <!--<div class="col-md-6 col-xs-5">
        <a href="https://angelbejarano.dev/" target="_blank">
          <img src="https://angelbejarano.dev/img/logo2.5cacf731.png" style="max-width: 100%">
        </a>
      </div>-->
      <div class="col-md-6 col-xs-5 pt-2">
        <img src="../../../../../assets/images/logo.svg" style="max-width: 100%">
      </div>
    </div>
  </div>
</div>

